.countries {
  margin: 200px 0;
}
.card-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 100px 0 0 0;
}

.seemore {
  font-size: 16px;
  font-weight: 700;
  margin-top: 24px;
  display: block;
  transition: all 0.3s;
}
.seemore:hover {
  text-decoration: underline;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 12px 0;
}
.header-buttons {
  display: flex;
  align-items: center;
  gap: 44px;
}

.virtualWrapper {
  height: 700px;
  width: 100%;
  overflow: auto;

  border: 4px solid #000;
}

@media (max-width: 1620px) {
  .countries {
    margin: 150px 0;
  }
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
  .countrie-text div:first-of-type {
    width: 33%;
  }
  .card-row {
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .countries-row {
    padding: 50px 0;
  }
  .countries {
    margin: 100px 0;
  }
}
@media (max-width: 768px) {
  .countrie-text div:first-of-type {
    width: 40%;
  }
}
@media (max-width: 576px) {
  .country-box {
    width: 100%;
  }
}
@media (max-width: 440px) {
}
