.countries {
    margin: 200px 0;
  }
  .countries-row {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 100px 0;
  }
  .country-box {
    width: 33.3%;
  
    overflow: hidden;
    border-radius: 16px;
  }
  .country-box .image {
    width: 100%;
    height: 266px;
  }
  .country-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all.3s;
  }
  .country-box:hover .image img {
    filter: grayscale(0);
  }
  .country-box .info {
    padding: 32px;
    border: 1px solid #000;
    border-radius: 0 0 16px 16px;
  }
  .country-box .info h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 16px;
    border-bottom: 1px solid #000;
  }
  .countrie-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0 0 0;
  }
  .countrie-text {
    display: flex;
    gap: 6px;
  }
  
  .countrie-text div:first-of-type {
    width: 25%;
    font-weight: 700;
    font-size: 16px;
  }
  .countrie-text div:last-of-type {
    font-size: 20px;
    font-weight: 500;
  }
  .countries h1 {
    font-size: 32px;
    font-weight: 700;
  }