.description {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.description h1 {
  line-height: 120%;
  font-size: 56px;
  font-weight: 600;
}

.description div {
  font-size: 20px;
}

@media (max-width: 1620px) {
  .description {
    padding: 0 0 0 60px;
  }
}
@media (max-width: 1400px) {
  .description {
    padding: 0 0 0 60px;
  }
  .description h1 {
    font-size: 46px;
  }
  .description div {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .description {
    width: 100%;
    order: 2;
  }
  .description {
    padding: 0;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 440px) {
}
