.share-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: auto;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1000;
}
.share-bar .share {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
}
.share-bar .share img {
  width: 24px;
  height: 24px;
}
.share::before,
.share::after {
  content: "";
  width: 1px;
  height: 300px;
  background-color: #000;
}
.share-bar .share a {
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: all 0.3s;
}
.share-bar .share a:hover {
  border: 1px solid #000;
}

@media (max-width: 1620px) {
  .share::before,
  .share::after {
    height: 180px;
  }
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .share::before,
  .share::after {
    height: 80px;
  }

  .country-box {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .share::before,
  .share::after {
    height: 50px;
  }
}
@media (max-width: 576px) {
  .share-bar {
    width: 70px;
  }
}
@media (max-width: 440px) {
}
